{% extends 'base.html' %}
{% block style %}
    <style>
        .img-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class='row'>
            <div class='col-9' style="margin:auto;">
                <h1 style="margin-top:20px">
                    {{object.title}}
                </h1>
                
                <small class="text-muted">
                    {{ object.publish_date }} — <span class="badge badge-light" title="{{ object.category }}">{{ object.category | truncatechars:100}}</span>
                </small>

                <img src="{{object.thumbnail.url}}" class="img-thumbnail">

                <p class="lead" style="margin:10px">
                    {{object.content}}
                </p>

                <hr/>

                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <a href="{{ object.get_like_url }}">
                            {{ object.get_like_count }}
                            <i class="fas fa-thumbs-up" style="margin-right: 25px"></i>
                        </a>
                        <span>
                            {{ object.get_comment_count }}
                            <i class="fas fa-comments" style="margin-right: 25px"></i>
                        </span>
                        <span>
                            {{ object.get_view_count }}
                            <i class="fas fa-eye" style="margin-right: 25px"></i>
                        </span>
                    </div>
                
                {% else %}
                <small class="text-muted">
                    Para comentar debe inciar sesion
                </small>
                <a href"#" class="btn btn-primary btn-lg btn-block" style="color:white">Iniciar sesion</a>
                <a href"#" class="btn btn-secondary btn-lg btn-block">Registrarse</a>
                {% endif %}
            </div>
        </div>
    <div>


    
    <div class="d-flex justify-content-end" style='margin:20px'>
        {% if perms.posts.can_delete_post %}
            <a class="btn btn-danger" href="{% url 'delete' slug=object.slug %}" style='margin-right:20px'>Eliminar</a>
        {% endif %}
        
        {% if perms.posts.can_change_post %}   
            <a class="btn btn-outline-primary" href="{% url 'update' slug=object.slug %}">Actualizar</a>
        {% endif %}
    </div>
{% endblock content%}