{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block titulo %} {{object.title}} {% endblock %}


{% block style %}
    <style>
        .img-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class='row'>
            <div class='col-9' style="margin:auto;">
                <h1 style="margin-top:20px">
                    {{object.title}}
                </h1>
                
                <small class="text-muted">
                    {{ object.publish_date }} — <span class="badge badge-light" title="{{ object.category }}">{{ object.category | truncatechars:100}}</span>
                </small>

                <img src="{{object.thumbnail.url}}" class="img-thumbnail">

                <p class="lead" style="margin:10px">
                    {{object.content}}
                </p>

                <div class="d-flex justify-content-end" style='margin:20px'>
                    {% if perms.posts.can_delete_post %}
                        <a class="btn btn-outline-danger" href="{% url 'delete' slug=object.slug %}" style='margin-right:20px'>Eliminar</a>
                    {% endif %}
                    
                    {% if perms.posts.can_change_post %}   
                        <a class="btn btn-outline-primary" href="{% url 'update' slug=object.slug %}">Actualizar</a>
                    {% endif %}
                </div>

                <hr/>

                {% if user.is_authenticated %}
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                            <a href="{{ object.get_like_url }}" style="outline: none; text-decoration: none;">
                            {{ object.get_like_count }} 
                            <i class="fas fa-thumbs-up" style="margin:auto;"></i>
                            <p> Me gusta </p>
                        </a>
                    </div>

                    <div class="p-2"> 
                            {{ object.get_comment_count }}
                            <i class="fas fa-comments" style="margin-right: 25px"></i>
                            <p> Comentarios </p>
                    </div>

                    <div class="p-2">
                            {{ object.get_view_count }}
                            <i class="fas fa-eye" style="margin-right: 25px"></i>
                            <p> Vistas </p>
                    </div>
                  </div>

                  <div class="d-flex flex-column">
                        
                        <div class="p-2">
                            <small class="text-muted">
                                <p>Tenes algo para aportar? deja tu comentario...</p>
                            </small>
                        </div>
                        
                        <div class="p-2">
                            <form class="form" method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                    Comentar
                                    </button>
                                {% endbuttons %}
                        </div>

                        {% else %}
                        <div class="p-2">
                        <small class="text-muted">
                            Para comentar debe inciar sesion
                        </small>
                        <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block" style="color:white">Iniciar sesion</a>
                        <a href="{% url 'signup' %}" class="btn btn-secondary btn-lg btn-block">Registrarse</a>
                        {% endif %}
                    </div>
                        <div class="p-2">
                            <h5>Comentarios</h5>
                            {% for comment in object.comments reversed %}
                                <ol class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">{{comment.user}} · <small class="text-muted"> Hace {{comment.timestamp|timesince}} </small></div>
                                        <p> 
                                            {{ comment.content }}
                                        </p>
                                    </div>
                                    </li> 
                                </ol>
                            {%endfor%}
                        </div>
                  
                    </div>

                    </div>
            </div>
        </div>
    <div>

{% endblock content%}