{% extends 'base.html' %}

{% block style %}
<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock style %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <div class="container">

        {% if user.is_authenticated %}
            <form class="container" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Crear un post nuevo</h1>
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                    Crear
                    </button>
                {% endbuttons %}

        {% else %}
        <p class="h3" style="margin-top:20px">Debe estar registrado para crear un post</p>
        
        <hr/>
        <!-- LOGIN PARA CREAR POST -->
        
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> {{ form.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endif %}
            <form class="form-signin" method="post">
    
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Por favor inicie sesión con sus credenciales</h1>
                <label for="username" class="sr-only">Usuario</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese usuario o email"
                    required="" autofocus="">
                <label for="password" class="sr-only">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
            </form>

        <!--TERMINO-->
        {% endif %}

    </div>               
{% endblock content%}